* {
    box-sizing: border-box;
}

.d-flex {
    display: flex;

}

main {
    flex-direction: row;
    width: 800px;
    height: 800px;
    background: red;
    margin: 0 auto;



}

.left {
    flex-basis: 200px;


}

.left .bg-blue {
    height: 200px;
    width: 200px;
    background: blue;
}

.right {
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.green {
    background: green;
    max-width: 600px;
    height: 600px;
    justify-content: end;
    flex-direction: column;
border: 10px solid red;
}

.green .bg-blue {
    height: 200px;
    width: 200px;
    background: blue;
    align-self: flex-end;
    border: 10px solid green;
}
.bg-blue {
    border: 10px solid red;
}
